%body#favorites
.container
  %h1 Your Favorites
  .row
    .col-md-3
      %h1 Your Favorites
      - @favorites_list.each_with_index do |program, i|
        .thumbnail
          %h4= program.facility_name
          %a.caption
            =link_to "", program_path(program), class: "glyphicon glyphicon-eye-open"
            =link_to "", root_path, class: "glyphicon glyphicon-envelope"
            =link_to "", remove_program_favorite_path(favorite, program_id: program.id), method: "post", class: "glyphicon glyphicon-remove"
            %table
              %thead
                %tr
                  %th Program Type
                  %th Enrollment
              %tbody
                %tr.text-center
                  %td= program.program_type
                  %td= program.enrollment

          

  
