.container
  .jumbotron
    %h1 Head Start Programs
.container
  -@programs.each do |p|
    -unless there_are_no_openings?(p)
      .col-md-4
        .thumbnail
          %h4= p.facility_name
          .caption
            = link_to "View", program_path(p), class: "btn-lg btn btn-info"
