.container
  .jumbotron
    %h1 Head Start Programs
    = search_form_for @q do |f|
      \#{f.search_field :facility_name_cont, class: "form-control", placeholder: "Seach by name"}

  -@programs.each do |p|
    -unless there_are_no_openings?(p)
      .col-md-4
        .thumbnail
          %h4= p.facility_name
          .caption
            = link_to "View", program_path(p), class: "btn-lg btn btn-warning"
