%body#homepage
.clearfix-buffer
.jumbotron#home.text-center
  %h1 Get Ahead
  = link_to "View Programs", programs_path, class: "btn btn-lg", id: "btn-custom"
  %p or learn more below
.clearfix
.jumbotron#about.text-center
  %h1 About Get Ahead
  .row
    .col-md-4.col-md-offset-2.text-left
      %p
        %strong There's no child quite like yours. 
      %p And you want the very best for them, especially when it comes to their education. There are a lot of options for head start programs. But comparing programs abd choosing the one with the best fit for your child is difficult.
    .col-md-4.text-left
      %p
        %strong Get Ahead was built for you.
      %p All the information you need about every head start program in Denver, including ratings from professionals and reviews from parents like you. Easily save programs you're interested in, and contact the programs directly to set up an appointment.
.clearfix
.jumbotron#headstart.text-center
  %h1 What is Head Start?
  .row
    .col-md-8.col-md-offset-2
      %p
        %em "Denver Great Kids Head Start is an award winning program that prepares children to enter kindergarten confidently with the social, physical, emotional, and cognitive skills and competencies necessary for continued school success."
      %p
        %strong 
          %em - Denver Office of Children's Affairs
.clearfix

