%body#homepage
.clearfix-buffer
.jumbotron#home.text-center
  %h1 GetAhead
  = link_to "View Programs", programs_path, class: "btn btn-lg", id: "btn-custom"
.clearfix
.jumbotron#home.text-center
  %h1 About GetAhead
  %h3 Marketing Speak, etc.
.clearfix
.jumbotron#home.text-center
  %h1 About Head Start
  %h3 General info

